<nav id="navbar">
    <ul><center>
      <a href="/HospitalHome" style="text-decoration: none;color: white;"><li>Home</li></a>
      <a href="/" style="text-decoration: none;color: white;"><li>Logout</li></a>
      <a href="/UserLogin" style="text-decoration: none;color: white;"><li>User</li></a>
      <a href="/update_bed_availability" target="_blank" style="text-decoration: none;color: white;"><li>Update Bed Availability</li></a>
      <li class="slide"></li>
    </center>
    </ul>
  </nav>