
<nav id="navbar" style="font-family: 'Open Sans', sans-serif">
  <ul><center>
    <a href="/" style="text-decoration: none;color: white;"><li>Home</li></a>
    <a href="/About" style="text-decoration: none;color: white;"><li>About</li></a>
    <a href="/UserLogin" style="text-decoration: none;color: white;"><li>User</li></a>
    <a href="/HospitalLogin" style="text-decoration: none;color: white;"><li>Hospital</li></a>
    <li class="slide"></li>
  </center>
  </ul>
</nav>
