<html>
  <head>
    <title>
      LifeCare-User
    </title>
    <link rel="stylesheet" href="\css\home.css">
    <script src="\js\angular.min.js"></script>
    <style>
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .dropdown-content a:hover {background-color: #ddd;}
      .dropdown:hover .dropdown-content {display: block;}
      .dropdown:hover .dropbtn {background-color: #3e8e41;}
      body {
        background: linear-gradient(rgba(0, 0, 1, 1), rgba(1, 0, 0, 0.5)), url("/img/home_bg0.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
      }
      .bgcolor {
        background-color:#46866C;
        transition: all ease-in-out 300ms;
        width: 100%;
      }
      section img {
        position: absolute;
        top: 0px;
      }
    </style>
    <script>
      function changeBg()
      {
        let navbar= document.getElementById("navbar");
        let scrollbar= window.scrollY;
        if (scrollbar < 80) {
          navbar.classList.remove("bgcolor");
        }
        else {
          navbar.classList.add("bgcolor")
        }
      }
      window.addEventListener('scroll', changeBg);
    </script>
</head>
<body ng-app="">
  <div ng-include="'/Usernavbar'"></div>
<br><br><br><br><br>
<section>
  <div class="title1"><img src="/img/logo.png" style="width:250px; height:250px;">
  <div class="title" style="padding-left: 180px;"><br><span>Welcome</span>
  <span>
    &nbsp;&nbsp;To know about Bed Availability, <a href="/bed_available0">Click Here</a><br><br>
    &nbsp;&nbsp;To book an Appointment, <a target="_blank" href="/appointment">Click Here</a><br><br>
    &nbsp;&nbsp;To book a Virtual Consultation, <a target="_blank" href="/onlineconsultancy">Click Here</a><br><br>
</span>
</div></div>
</section>
</body>
</html>
