<nav id="navbar">
  <ul><center>
    <a href="/UserHome" style="text-decoration: none;color: white;"><li>Home</li></a>
    <a href="/" style="text-decoration: none;color: white;"><li>Logout</li></a>
    <a href="/bed_available0" style="text-decoration: none;color: white;"><li>Check Beds Availability</li></a>
    <a href="/HospitalLogin" style="text-decoration: none;color: white;"><li>Hospital</li></a>
    <li class="slide"></li>
  </center>
  </ul>
</nav>
